/*Stylesheet for navigating this course*/
/*FONT: Almendra Display: header ---- Kite one: body*
Color: #2f4f4f : darkgreen --- #ffe4b5 : light gold --- #a18871 : golden yellow 
	     #b6f9c9 --- #c9ffe2 : light green -- #ffffcc : light yellow --- #ffffff : white */ .fontAlmendraDisplay { font-family: 'Almendra Display'; font-style: italic; } .rightText {text-align: right; color: #ffe4b5; font-weight: bold; font-family: "Kite One"; font-size: 25px; padding: 0px;
	margin: 0px;}body { background-color: white;  font-family: 'Kite one'; }
	#wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 95%;  
    font-size: 18px;
    list-style-type: lower-alpha;
}
	header { padding: 25px 30px 25px 30px;  background-color: #2f4f4f; color: #ffe4b5; font-weight: bold; 
	font-family: 'Almendra Display'; font-size: 4em;  font-style: italic;}  
	
	nav {font-weight: bold; background-color: #c9ffe2;  text-align: center; padding: 5px;} 
	nav ul {padding-top: 0px; padding-bottom: 5px; margin: 5px; }
	nav li { list-style-type: none;    display: inline;   margin: 5px 8px;   font-size: 18px;   }
	nav li a:link { color: #2f4f4f;  text-decoration: none;}
	nav li a:visited { color: #2f4f4f; }
	nav li a:hover { color: #a18871;}
	h1 {  font-weight: bold;  padding: 5px 0px 5px 0px; color: #2f4f4f; font-size: 30px; margin: 10px; 
		text-align: center; }  
	h2 {
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    list-style-type: upper-latin;
    margin-bottom: 2px;
    color: #2F4F4F;
} 
	.magicMint {background-color: #c9ffe2; padding: 5px; text-align: left;}
  .center { text-align: center; } .fontAlmendraDisplay { font-family: 'Almendra Display'; font-style: italic; } .rightText {text-align: right; color: #ffe4b5; font-weight: bold; font-family: "Kite One"; font-size: 25px; padding: 0px;
	margin: 0px;}.bold { font-weight: bold;  font-family: 'Almendra Display'; background-color: #2f4f4f; color: #ffe4b5; 
    padding: 0px 5px 0px 5px; margin-right: 5px;  }  
  p { margin: 10px;  }  
  .grid-box {display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: auto;}
  .grid-item {border: 2px solid #2f4f4f; }
  /*FONT: Almendra Display: header ---- Kite one: body*
Color: #2f4f4f : darkgreen --- #ffe4b5 : light gold --- #a18871 : golden yellow 
	      : magic Mint--- #c9ffe2 -- #ffffcc : light yellow --- #ffffff : white */	
footer {padding: 10px; color: #2F4F4F;  background-color: #ffffcc;text-align: center; margin-top: 8px;
		border-top: 5px solid #a18871 } 
.sampleFooter { margin: 10px; text-align: left;}
.lightYellow { background-color: #ffe4b5; padding: 5px; text-align:left;}
.rightText {text-align: right; color: #ffe4b5; font-weight: bold; font-family: "Kite One"; font-size: 25px; padding: 0px;
	margin: 0px;}
button {
  background-color: #2f4f4f; padding: 2px 3px; border-radius: 5%; text-align: center; display: inline-block; 
  width: 100px; height: 40px; font-size: 15px; margin: 4px 2px; transition-duration: 0.4s; cursor: pointer; 
  color: #ffffcc; font-weight: bold; box-shadow: 7px 7px 3px #a18871; font-family: 'Kite One';} 
button:hover {
  background-color: #b6f9c2;color: #2f4f4f;
}
a:link { color: #2f4f4f;  text-decoration: none;}
	a:visited { color: #2f4f4f; }
	a:hover {
    color: #a18871;
    font-weight: bold;
    list-style-type: decimal;
}
ul li { margin-top: 10px; }





 @media (max-width: 600px) { 
	
 }
					 
	 

 

   
